In [1]:
import pandas as pd

In [2]:
dataframe_web_tesla = pd.read_csv('../dataframe/tesla.csv')

In [3]:
dataframe_web_tesla

            modelo        km    precio                         pintura
0         Model S    2496 km  82.010 €         Blanco Perla Multicapas
1         Model S    6196 km  88.990 €          Azul Oscuro Metalizado
2         Model S     757 km  90.630 €          Azul Oscuro Metalizado
3         Model S     499 km  90.810 €                    Negro Sólido
4         Model S     879 km  91.500 €    Pintura en color Gris Sigilo
..             ...       ...       ...                             ...
283       Model Y          0  62.620 €  Pintura Rojo Cereza Medianoche
284       Model Y          0  65.370 €       Pintura Plateado Mercurio
285       Model Y          0  66.420 €  Pintura Rojo Cereza Medianoche
286  2024 Model Y          0  40.500 €       Pintura Plateado Mercurio
287  2023 Model Y          0  46.800 €              Color Negro Sólido

[288 rows x 4 columns]

In [4]:
lista = dataframe_web_tesla['modelo'].unique().tolist()
for elemento in lista:
    print(elemento)

Model S
2018 Model S
2020 Model S
2023 Model S
Model 3
2019 Model 3
2022 Model 3
2021 Model 3
2023 Model 3
2024 Model 3
2020 Model 3
Model X
2018 Model X
2023 Model X
Model Y
2024 Model Y
2023 Model Y

In [5]:
def agregar_anio(modelo):
    # Buscar si hay un año (número de 4 dígitos)
    if not any(str(year) in modelo for year in range(2016, 2026)):
        return f'2024 {modelo}'
    return modelo

In [6]:
dataframe_web_tesla['modelo'] = dataframe_web_tesla['modelo'].apply(agregar_anio)
print(dataframe_web_tesla)

            modelo        km    precio                         pintura
0    2024 Model S    2496 km  82.010 €         Blanco Perla Multicapas
1    2024 Model S    6196 km  88.990 €          Azul Oscuro Metalizado
2    2024 Model S     757 km  90.630 €          Azul Oscuro Metalizado
3    2024 Model S     499 km  90.810 €                    Negro Sólido
4    2024 Model S     879 km  91.500 €    Pintura en color Gris Sigilo
..             ...       ...       ...                             ...
283  2024 Model Y          0  62.620 €  Pintura Rojo Cereza Medianoche
284  2024 Model Y          0  65.370 €       Pintura Plateado Mercurio
285  2024 Model Y          0  66.420 €  Pintura Rojo Cereza Medianoche
286  2024 Model Y          0  40.500 €       Pintura Plateado Mercurio
287  2023 Model Y          0  46.800 €              Color Negro Sólido

[288 rows x 4 columns]

In [7]:
lista_pintura = dataframe_web_tesla['pintura'].unique().tolist()
for elemento in lista_pintura:
    print(elemento)

Blanco Perla Multicapas
Azul Oscuro Metalizado
Negro Sólido
Pintura en color Gris Sigilo
Color Plateado Lunar
Metalizada plateada medianoche
Metalizada plateada
Metalizada negra obsidiana
Pintura negra sólida
Multicapas Roja
Ultra Rojo
Pintura Plateado Mercurio
Color Blanco Perla Multicapas
Color Negro Sólido
Pintura en color Ultra Rojo
Color Multicapas Rojo
Plata Medianoche Metalizado
Metalizada azul profundo
Pintura Rojo Cereza Medianoche

In [8]:
dataframe_web_tesla['precio'] = dataframe_web_tesla['precio'].str.replace('.', '')
dataframe_web_tesla['km'] = dataframe_web_tesla['km'].str.replace('.', '')
dataframe_web_tesla['precio'] = dataframe_web_tesla['precio'].str.replace('€', '').astype(float)
dataframe_web_tesla['km'] = dataframe_web_tesla['km'].str.replace('km', '').astype(float)
dataframe_web_tesla.dtypes

modelo      object
km         float64
precio     float64
pintura     object
dtype: object

In [9]:
def procesar_descripcion_tesla(row):
    # Dividir la descripción en dos partes: año y modelo
    partes = row.split(' ', 1)  # Divide en el primer espacio
    year = partes[0]  # El año es la primera parte
    modelo = partes[1] if len(partes) > 1 else None  # El resto es el modelo
    return year, modelo

In [10]:
dataframe_web_tesla[['year', 'modelo']] = dataframe_web_tesla['modelo'].apply(lambda x: pd.Series(procesar_descripcion_tesla(x)))
dataframe_web_tesla.head(2)

     modelo      km   precio                  pintura  year
0  Model S   2496.0  82010.0  Blanco Perla Multicapas  2024
1  Model S   6196.0  88990.0   Azul Oscuro Metalizado  2024

In [11]:
def procesar_columna_color(df, columna):
    # Lista de colores a buscar
    colores = ['rojo', 'azul', 'blanco', 'gris', 'negro', 'marron', 'marrón']
    
    # Función para procesar cada elemento de la columna
def transformar_color(valor):
    colores = ['rojo', 'azul', 'blanco', 'gris', 'negro', 'marron', 'marrón']
    valor_lower = valor.lower()  # Convertir a minúsculas para comparar
    contiene_color = any(color in valor_lower for color in colores)
    es_metalizado = 'metalizado' in valor_lower
    
    if contiene_color:
        # Si contiene un color, devolver solo el color
        for color in colores:
            if color in valor_lower:
                return color  # Devolver el color encontrado
    elif es_metalizado:
        # Si solo contiene "metalizado", cambiar a "gris"
        return 'gris'
    else:
        # Si no cumple ninguna condición, no cambiar
        return valor

In [12]:
dataframe_web_tesla['pintura']= dataframe_web_tesla['pintura'].apply(transformar_color)

In [13]:
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "blanco" if "Color Plateado Lunar" in x else x)
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "gris" if "Metalizada plateada medianoche" in x else x)
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "gris" if "Metalizada plateada" in x else x)
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "negro" if "Metalizada negra obsidiana" in x else x)
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "negro" if "Pintura negra sólida" in x else x)
dataframe_web_tesla['pintura'] = dataframe_web_tesla['pintura'].apply(lambda x: "gris" if "Pintura Plateado Mercurio" in x else x)

In [14]:
dataframe_web_tesla['color']=dataframe_web_tesla['pintura'] 
dataframe_web_tesla = dataframe_web_tesla.drop(columns='pintura')
dataframe_web_tesla.head(2)

     modelo      km   precio  year   color
0  Model S   2496.0  82010.0  2024  blanco
1  Model S   6196.0  88990.0  2024    azul

In [15]:
dataframe_web_utocasion = pd.read_csv('../dataframe/utocasion.csv')

In [16]:
dataframe_web_utocasion.head(5)

                          modelo          km              color    precio
0  Detalles TESLA Model 3 (2022)   63.000 km  Azul / Metalizado  25.990 €
1  Detalles TESLA Model S (2020)   94.000 km              Negro  51.990 €
2  Detalles TESLA Model 3 (2020)  138.000 km               Gris  26.990 €
3  Detalles TESLA Model X (2019)  170.000 km             Blanco  44.800 €
4  Detalles TESLA Model 3 (2019)   61.046 km               ROJO  29.900 €

In [17]:
lista_pintura_autocasion = dataframe_web_utocasion['color'].unique().tolist()
for elemento in lista_pintura_autocasion:
    print(elemento)

Azul / Metalizado
Negro
Gris
Blanco
ROJO
Negro (sólido) / Metalizado
Granate
BLANCO PERLADO
Azul
Blanco perla multicapa / Metalizado
gris metalizado / Metalizado
Negro / Metalizado
azul metalizado / Metalizado
Rojo
Blanco / Metalizado
MIDNIGHT SILVER METALLIC PAINT
Gris / Metalizado
gris oscuro
Pearl White Multi-Coat
Plata Medianoche (metalizado) / Metalizado
ANTRACITA / Metalizado
Negro Solido / Metalizado
Pintura negro metalizado
-
blanco
PERLA / Metalizado
rojo
Marrón
gris
Marrón / Metalizado
negro
Rojo / Metalizado
BLANCO
blanco / Metalizado
Plata / Metalizado
azul
TESLA Model 3 Gran Autonomia AWD 4p. Dual Motor / Metalizado
Plata
GRIS
Gris Plata / Metalizado
Otros
Tesla Model 3, edición 2023 / Metalizado

In [18]:
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(transformar_color)

In [19]:

dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "rojo" if "Granate" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "gris" if "MIDNIGHT SILVER METALLIC PAINT" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "blanco" if "Pearl White Multi-Coat" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "blanco" if "-" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "marron" if "marrón" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "gris" if "Plata" in x else x)
dataframe_web_utocasion['color'] = dataframe_web_utocasion['color'].apply(lambda x: "blanco" if "Otros" in x else x)

In [20]:
dataframe_web_utocasion['precio'] = dataframe_web_utocasion['precio'].str.replace('.', '')
dataframe_web_utocasion['km'] = dataframe_web_utocasion['km'].str.replace('.', '')
dataframe_web_utocasion['precio'] = dataframe_web_utocasion['precio'].str.replace('€', '').astype(float)
dataframe_web_utocasion['km'] = dataframe_web_utocasion['km'].str.replace('km', '').astype(float)
dataframe_web_utocasion.dtypes

modelo     object
km        float64
color      object
precio    float64
dtype: object

In [21]:
def procesar_descripcion_autocasion(row):
    # Eliminar la parte 'Detalles TESLA'
    sin_detalles = row.replace('Detalles TESLA ', '')

    # Extraer el año entre paréntesis y crear una nueva columna
    year = sin_detalles.split('(')[-1].strip(')') if '(' in sin_detalles else None

    # Dejar solo el modelo sin el año
    modelo = sin_detalles.split('(')[0].strip()

    return modelo, year

In [22]:
dataframe_web_utocasion[['modelo', 'year']] = dataframe_web_utocasion['modelo'].apply(lambda x: pd.Series(procesar_descripcion_autocasion(x)))
#dataframe_web_utocasion.head(2)

In [23]:
dataframe_web_utocasion.head(2)

    modelo       km  color   precio  year
0  Model 3  63000.0   azul  25990.0  2022
1  Model S  94000.0  negro  51990.0  2020

In [63]:
dataframe_web_utocasion.dtypes

modelo     object
km        float64
color      object
precio    float64
year       object
dtype: object

In [24]:
df_unido = pd.concat([dataframe_web_utocasion, dataframe_web_tesla], ignore_index=True)
df_unido.to_csv("../dataframe/unido_final.csv")

In [55]:
dataframe_autoscout = pd.read_csv("../dataframe/tesla_autoscout24.csv")

In [56]:
dataframe_autoscout.head(2)

    modelo kilometraje     year      precio   color
0  Model 3   31.886 km  07/2019  € 25.490,-  Blanco
1  Model s   98.000 km  05/2015  € 25.990,-  Marrón

In [73]:
lista_pintura_aautoscout = dataframe_autoscout['year'].unique().tolist()
for elemento in lista_pintura_aautoscout:
    print(elemento)

07/2019
05/2015
09/2024
03/2020
06/2023
05/2018
03/2017
09/2020
09/2023
02/2020
12/2022
08/2021
12/2016
09/2019
11/2020
01/2020
01/2013
03/2022
11/2023
02/2017
06/2017
08/2015
05/2019
02/2023
03/2018
12/2019
01/2019
11/2015
01/2024
04/2017
01/2022
10/2019
08/2019
06/2019
12/2023
02/2021
10/2016
08/2023
12/2018
09/2016
11/2017
07/2017
01/2023
06/2022
05/2021
03/2024
01/2018
05/2017
01/2021
05/2020
05/2023
06/2018
12/2021
03/2015
07/2014
09/2021
04/2015
03/2021
03/2023
10/2020
04/2019
06/2020
05/2016
02/2019
06/2016
09/2014
04/2018
07/2023
12/2020
06/2021
02/2024
08/2013
10/2024
08/2016
10/2017
03/2019
04/2022
09/2022
12/2013
10/2018
07/2020
02/2022
07/2024
1/2024
08/2017
11/2022
09/2017
03/2016
10/2023
11/2021
05/2022

In [60]:
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "negro" if  "Negro" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "marrón"  if "Marrón" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "blanco" if "BLANCO" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "gris"  if "Gris" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "rojo" if "Rojo" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "blanco" if "Blanco" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "azul" if "Azul" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "blanco" if "Otros" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "gris" if "Plateado" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "blanco" if "No especificado" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "gris" if "GRIS" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "rojo" if "Burdeos" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "rojo" if "Granate" in x else x)
dataframe_autoscout['color'] = dataframe_autoscout['color'].apply(lambda x: "gris" if "Metalizado" in x else x)

In [62]:
dataframe_autoscout['precio'] = dataframe_autoscout['precio'].str.replace('.', '')
dataframe_autoscout['precio'] = dataframe_autoscout['precio'].str.replace(',-', '')
dataframe_autoscout['kilometraje'] = dataframe_autoscout['kilometraje'].str.replace('.', '')
dataframe_autoscout['precio'] = dataframe_autoscout['precio'].str.replace('€', '').astype(float)

dataframe_autoscout['kilometraje'] = dataframe_autoscout['kilometraje'].str.replace(' km', '')
dataframe_autoscout['kilometraje'] = dataframe_autoscout['kilometraje'].apply(lambda x: "0" if  "-" in x else x)
dataframe_autoscout['kilometraje'] = dataframe_autoscout['kilometraje'].astype(float)
dataframe_autoscout.dtypes

modelo          object
kilometraje    float64
year            object
precio         float64
color           object
dtype: object

In [76]:
dataframe_autoscout.head(5)

    modelo  kilometraje  year   precio   color
0  Model 3      31886.0  2019  25490.0  blanco
1  Model S      98000.0  2015  25990.0  marrón
2  Model 3         16.0  2024  37000.0  blanco
3  Model S      38091.0  2020  48990.0  blanco
4  Model Y      15000.0  2023  38900.0  blanco

In [75]:
dataframe_autoscout['year'] = dataframe_autoscout['year'].str.split("/").str[1]
dataframe_autoscout['modelo'] = dataframe_autoscout['modelo'].str.replace('y', 'Y')
dataframe_autoscout['modelo'] = dataframe_autoscout['modelo'].str.replace('s', 'S')
dataframe_autoscout['modelo'] = dataframe_autoscout['modelo'].str.replace('x', 'X')

In [78]:
dataframe_autoscout['km'] = dataframe_autoscout['kilometraje']

In [ ]:
dataframe_autoscout.drop(columns='kilometraje')

      modelo  year   precio   color       km
0    Model 3  2019  25490.0  blanco  31886.0
1    Model S  2015  25990.0  marrón  98000.0
2    Model 3  2024  37000.0  blanco     16.0
3    Model S  2020  48990.0  blanco  38091.0
4    Model Y  2023  38900.0  blanco  15000.0
..       ...   ...      ...     ...      ...
395  Model 3  2020  25490.0  blanco  84188.0
396  Model 3  2022  28490.0    azul  62000.0
397  Model 3  2019  22490.0    rojo  87000.0
398  Model 3  2021  28990.0  blanco  36000.0
399  Model 3  2021  25990.0  blanco  87523.0

[400 rows x 5 columns]

In [82]:
dataframe_autoscout.head(2)

    modelo  kilometraje  year   precio   color       km
0  Model 3      31886.0  2019  25490.0  blanco  31886.0
1  Model S      98000.0  2015  25990.0  marrón  98000.0

In [93]:
df_unido = pd.concat([df_unido, dataframe_autoscout], ignore_index=True)

In [ ]:
#	modelo	km	color	precio	year

dataframe_teslahunt = pd.read_excel("../dataframe/teslahunt_results.xlsx")
dataframe_teslahunt.head(5)

,Modelo,Precio,Kilómetros,Año,Color
0,Tesla Model 3 Standard Range Plus,"22,700€","94,669",2020,deep blue metallic color
1,Tesla Model 3 Standard Range Plus,"22,700€","94,669",2020,pearl white multi-coat color
2,Tesla Model 3 Standard Range Plus,"23,100€","83,529",2020,pearl white multi-coat color
3,Tesla Model 3 Standard Range Plus,"23,200€","59,815",2020,pearl white multi-coat color
4,Tesla Model 3 Standard Range Plus,"23,400€","71,171",2020,deep blue metallic color

In [81]:
dataframe_teslahunt.dtypes

Modelo        object
Precio        object
Kilómetros    object
Año            int64
Color         object
dtype: object

In [50]:
lista_pintura_tesla_hunt = dataframe_teslahunt['Modelo'].unique().tolist()
for elemento in lista_pintura_tesla_hunt:
    print(elemento)

Tesla Model 3 Standard Range Plus
Tesla Model 3 Long Range AWD
Tesla Model 3 Performance
Tesla Model S 75D
Tesla Model 3 Long Range RWD

In [ ]:
##modificacion precio y km a float

dataframe_teslahunt["Precio"] = dataframe_teslahunt["Precio"].str.replace(',', '')
dataframe_teslahunt["Precio"] = dataframe_teslahunt["Precio"].str.replace('€', '').astype(float)
dataframe_teslahunt["Kilómetros"] = dataframe_teslahunt["Kilómetros"].str.replace(',', '').astype(float)
dataframe_teslahunt.rename(columns={"Modelo":"modelo", "Precio":"precio", "Kilómetros":"km", "Año":"year", "Color":"color"},inplace=True)
dataframe_teslahunt.head(2)

,modelo,precio,km,year,color
0,Tesla Model 3 Standard Range Plus,22700.0,94669.0,2020,deep blue metallic color
1,Tesla Model 3 Standard Range Plus,22700.0,94669.0,2020,pearl white multi-coat color

In [88]:
dataframe_teslahunt['modelo'] = dataframe_teslahunt['modelo'].apply(lambda x: " ".join(x.split()[1:3]))
dataframe_teslahunt['modelo'].head(5)

0    Model 3
1    Model 3
2    Model 3
3    Model 3
4    Model 3
Name: modelo, dtype: object

In [89]:
lista_pintura_tesla_hunt = dataframe_teslahunt['color'].unique().tolist()
for elemento in lista_pintura_tesla_hunt:
    print(elemento)

deep blue metallic color
pearl white multi-coat color
solid black color
No disponible
red multi-coat color

In [91]:
dataframe_teslahunt["color"] = dataframe_teslahunt["color"].str.replace('deep blue metallic color', 'azul')
dataframe_teslahunt["color"] = dataframe_teslahunt["color"].str.replace('pearl white multi-coat color', 'blanco')
dataframe_teslahunt["color"] = dataframe_teslahunt["color"].str.replace('solid black color', 'negro')
dataframe_teslahunt["color"] = dataframe_teslahunt["color"].str.replace('No disponible', 'blanco')
dataframe_teslahunt["color"] = dataframe_teslahunt["color"].str.replace('red multi-coat color', 'rojo')

In [92]:
dataframe_teslahunt.head(2)

    modelo   precio       km  year   color
0  Model 3  22700.0  94669.0  2020    azul
1  Model 3  22700.0  94669.0  2020  blanco

In [97]:
#df_unido = pd.concat([df_unido, dataframe_teslahunt], ignore_index=True)
df_unido.drop(columns="kilometraje", inplace=True)
df_unido.to_csv("../dataframe/unido_final.csv")